{% extends 'admin/components/layout.html.twig' %}

{% block title %}Změnit zaznam{% endblock %}

{% block content %}
    {% include 'admin/components/flashes.html.twig' %}

    <a class="btn btn-info btn-sm mb-3" href="{{ path('_preparing_list') }}">Zpět</a>

    <h1 class="h3 mb-2 text-gray-800">
        Změnit zaznam
    </h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}

            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.monthEn) }}
                {{ form_row(form.scheduleEn) }}
            </div>
            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.monthCs) }}
                {{ form_row(form.scheduleCs) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}