<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path("_slider_list") }}">
        <div class="sidebar-brand-text mx-3 px-3 py-2 border-white border">OSFL</div>
    </a>

    <hr class="sidebar-divider my-0">


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Jazyk - <b>
                {% if app.session.get('language') == localeEn %}EN{% endif %}
                {% if app.session.get('language') == localeCs %}CZ{% endif %}
                </b></span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Překlady pro:</h6>
                <a class="collapse-item {% if app.session.get('language') == localeEn %}active{% endif %}" href="{{ path('_change_show_language', {'language': localeEn}) }}">EN</a>
                <a class="collapse-item {% if app.session.get('language') == localeCs or app.session.get('language') is null %}active{% endif %}" href="{{ path('_change_show_language', {'language': localeCs}) }}">CZ</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item {% if app.request.get('_route') starts with '_offer_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('_offer_list') }}">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>Naše nabídka</span>
        </a>
    </li>

    <li class="nav-item {% if app.request.get('_route') starts with '_slider_' or app.request.get('_route') starts with '_preparing_' %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoContent" aria-expanded="false" aria-controls="collapseTwoMerch">
            <i class="fas fa-quote-right"></i>
            <span>Obsah stránek</span>
        </a>
        <div id="collapseTwoContent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <a href="{{ path('_slider_list') }}" class="collapse-item">Slider</a>
                <a href="{{ path('_preparing_list') }}" class="collapse-item">Připravujeme</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>