<nav class="navbar ">
    <div class="w-100 d-lg-flex flex-column flex-md-row align-items-center p-4 px-md-4 bg-white d-none">
        <a class="my-0 ml-5 mr-md-auto py-1 px-2 border border-dark no-decorated" href="{{ path('site_app_index') }}"><h2 class="mb-0 font-weight-bold">OSFL</h2></a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_index' %}active{% endif %}" href="{{ path('site_app_index') }}">{{ 'header.hp'|trans }}</a>
            <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_about' %}active{% endif %}" href="{{ path('site_app_about') }}" href="{{ path('site_app_about') }}">{{ 'header.aboutUs'|trans }}</a>
            <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_offer' %}active{% endif %}" href="{{ path('site_app_offer') }}">{{ 'header.offer'|trans }}</a>
            <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_events' %}active{% endif %}" href="{{ path('site_app_events') }}">{{ 'header.preparing'|trans }}</a>
            <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_contact' %}active{% endif %}" href="{{ path('site_app_contact') }}">{{ 'header.contact'|trans }}</a>
        </nav>
        <div class="languages mr-5">
            {% set r = app.request.attributes.get('_route') %}
            <a href="{{ path(r, app.request.attributes.get('_route_params')|merge({'_locale': localeCs})) }}" class="mr-2 {% if app.request.locale == 'cs' %}d-none{% endif %}"><img class="language-flag" src="{{ asset('images/menu/cz.png') }}" alt="cz"/></a>
            <a href="{{ path(r, app.request.attributes.get('_route_params')|merge({'_locale': localeEn})) }}" class="mr-2 {% if app.request.locale == 'en' %}d-none{% endif %}"><img class="language-flag" src="{{ asset('images/menu/eng.png') }}" alt="en"/></a>
        </div>
    </div>
    <div class="d-lg-none d-flex w-100 py-2 justify-content-between">
        <a class="my-0 ml-3 mr-md-auto py-1 px-2 border border-dark no-decorated" href="{{ path('site_app_index') }}"><h4 class="mb-0 font-weight-bold">OSFL</h4></a>
        <div class="d-flex align-items-center">
            <div class="languages mr-2">
                {% set r = app.request.attributes.get('_route') %}
                <a href="{{ path(r, app.request.attributes.get('_route_params')|merge({'_locale': localeCs})) }}" class="mr-2 {% if app.request.locale == 'cs' %}d-none{% endif %}"><img class="language-flag" src="{{ asset('images/menu/cz.png') }}" alt="cz"/></a>
                <a href="{{ path(r, app.request.attributes.get('_route_params')|merge({'_locale': localeEn})) }}" class="mr-2 {% if app.request.locale == 'en' %}d-none{% endif %}"><img class="language-flag" src="{{ asset('images/menu/eng.png') }}" alt="en"/></a>
            </div>
            <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
                    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon3"><span></span><span></span><span></span></div>
            </button>
        </div>
    </div>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent22">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link font-weight-normal {% if app.request.get('_route') ends with '_index' %}active{% endif %}" href="{{ path('site_app_index') }}">{{ 'header.hp'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-normal {% if app.request.get('_route') ends with '_about' %}active{% endif %}" href="{{ path('site_app_about') }}" href="{{ path('site_app_about') }}">{{ 'header.aboutUs'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-normal {% if app.request.get('_route') ends with '_offer' %}active{% endif %}" href="{{ path('site_app_offer') }}">{{ 'header.offer'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-normal {% if app.request.get('_route') ends with '_events' %}active{% endif %}" href="{{ path('site_app_events') }}">{{ 'header.preparing'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-normal {% if app.request.get('_route') ends with '_contact' %}active{% endif %}" href="{{ path('site_app_contact') }}">{{ 'header.contact'|trans }}</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->
</nav>
