<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 bg-white">
    <a class="my-0 ml-5 mr-md-auto py-1 px-2 border border-dark no-decorated" href="{{ path('site_app_index') }}"><h2 class="mb-0 font-weight-bold">OSFL</h2></a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_index' %}active{% endif %}" href="{{ path('site_app_index') }}">{{ 'header.hp'|trans }}</a>
        <a class="p-4 mr-5 font-weight-normal {% if app.request.get('_route') ends with '_about' %}active{% endif %}" href="{{ path('site_app_about') }}" href="{{ path('site_app_about') }}">{{ 'header.aboutUs'|trans }}</a>
        <a class="p-4 mr-5 font-weight-normal" href="#">{{ 'header.offer'|trans }}</a>
        <a class="p-4 mr-5 font-weight-normal" href="#">{{ 'header.preparing'|trans }}</a>
        <a class="p-4 mr-5 font-weight-normal" href="#">{{ 'header.contact'|trans }}</a>
    </nav>
    <div class="languages mr-5">
        {% set r = app.request.attributes.get('_route') %}
        <a href="{{ path(r, app.request.attributes.get('_route_params')|merge({'_locale': localeCs})) }}" class="mr-2 {% if app.request.locale == 'cs' %}d-none{% endif %}"><img class="language-flag" src="{{ asset('images/menu/cz.png') }}" alt="cz"/></a>
        <a href="{{ path(r, app.request.attributes.get('_route_params')|merge({'_locale': localeEn})) }}" class="mr-2 {% if app.request.locale == 'en' %}d-none{% endif %}"><img class="language-flag" src="{{ asset('images/menu/eng.png') }}" alt="en"/></a>
    </div>
</div>