{% extends 'site/layout.html.twig' %}

{% block title %}OSFL | {{ 'index.about.title'|trans }}{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <div id="main-carousel" class="carousel slide mb-6 mb-md-5 mb-lg-6 mb-xl-7" data-ride="carousel" data-aos="fade-up">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('images/about-us.jpg') }}" alt="About us" loading="lazy">
            </div>
        </div>
    </div>

    <div class="container text-md-center text-left mb-6 px-md-0 px-5">
        <h4 class="mb-4">{{ 'about.title'|trans }}</h4>
        <div class="d-flex justify-content-md-between justify-content-center flex-column flex-md-row">
            <p class="w-100 w-md-45 text-left">{{ 'index.about.text'|trans }}</p>
            <p class="w-100 w-md-45 text-left">{{ 'index.about.text2'|trans }}</p>
        </div>

    </div>


    {% include 'site/app/_component/footer.html.twig' %}

{% endblock %}