{% extends 'site/layout.html.twig' %}

{% block title %}OSFL | {{ 'preparing.title'|trans }}{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <div class="container text-center mb-6">
        <h4 class="mb-7 mt-5">{{ 'preparing.title'|trans }}</h4>
        {% for preparing in preparings %}
            {% set count = 0 %}
            <div class="mb-md-6 mb-3 pb-3 pb-md-0 border-md-bottom border-bottom-0">
                {% for event in preparing.events %}
                    <div class="row align-items-center d-flex flex-column flex-md-row px-md-0 px-4">
                        <div class="col-md-4 col text-md-center text-left my-2 my-md-0">
                            {% if count == 0 %}
                                <h5>{{ etrans.read(preparing.month) }}</h5>
                            {% endif %}
                        </div>
                        <div class="col-md-2 col text-md-center text-left">
                            {{ event.date|date("d.m.Y") }}
                        </div>
                        <div class="col-md-6 col text-left">
                            <h5>{{ etrans.read(event.description) }}</h5>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
        {% endfor %}

    </div>


    {% include 'site/app/_component/footer.html.twig' %}

{% endblock %}